.home-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/img/home_stock_photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0% 25%;
    height: 88vh;
    width: 100vw;
}

.home-header-text {
    padding: 24px 32px;
    text-align: center;
    background-color: white;
    width: fit-content;
    height: fit-content;
    margin-bottom: 24px;
}

.home-header-text p {
    margin: 0;
}