@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Noto+Sans+JP:wght@400;500;700&display=swap');

/* General */
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', 'sans serif';
  font-size: 14px;
}

.button > * {
    color: white;
    text-decoration: none;
}

/* Button */
.button {
  background-color: #2B50AA;
  border: 0;
  border-radius: 16px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 16px 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.inline-button {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button:active {
  background-color: #24428f;
  border-color: white;
  transform: scale(.96);
}

.button:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

/* Headings */
.heading {
    font-weight: bold;
    margin: 0;
    margin-bottom: 8px;
}

h1 {
  font-family: 'Montserrat';
  font-size: 40px;
  font-weight: 700;
  margin: 8px 0px;
}

h2 {
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 600;
  margin: 8px 0px;
}

h3 {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 600;
  margin: 8px 0px;
}

h4 {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  margin: 8px 0px;
}

h5 {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  margin: 8px 0px;
}

/* Footer */
.footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-link {
  text-decoration: none;
  color: white;
  margin: 8px;
  position: relative;
  text-decoration: none;
}

.footer-link:hover {
  color: orange;
  transition: .5s;
}